.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}

li.star {
  display:inline-block;
}

li.star.overall {
  font-size: 5px;
  width: 5px;
  height: 1px;
  padding: 4px;
}

.scoreNum {
  display: inline-block;
  padding-left: 10px;
  font-size: 10px;
}

/* Idle State of the stars */
li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
li.star.selected > i.fa {
  color:#FF912C;
}
